#logs-results .table thead th:is(
  :nth-child(1),
  :nth-child(3)),
#logs-results .table tbody td:is(
  :nth-child(1),
  :nth-child(3)) {
  text-align: center;
}

#logs-results .table thead th:is(
  :nth-child(2),
  :nth-child(4)),
#logs-results .table tbody td:is(
  :nth-child(2),
  :nth-child(4)) {
  width: 20%;
}

#logs-results .table thead th:is(
  :nth-child(4)),
#logs-results .table tbody td:is(
  :nth-child(4)) {
  text-align: right;
}
