x-default-opts: &default-opts
  restart: unless-stopped
  tty: true
  stdin_open: true
  privileged: false
  ipc: private

services:
  # django:
  #   <<: *default-opts
  #   container_name: app
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   ports:
  #     - "${APP_PORT:-8000}:8000"
  #   volumes:
  #     - ./:/app
  #   command: ["uv", "run", "main.py", "--workers", "2"]
  redis:
    <<: *default-opts
    container_name: redis
    ports:
      - "6379:6379"
    image: redis:8.4-alpine3.22
  postgres:
    <<: *default-opts
    container_name: postgres
    image: postgres:18.1-alpine3.23
    environment:
      POSTGRES_USER: "${POSTGRES_USER:-user}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD:-password}"
      POSTGRES_DB: "${POSTGRES_DB:-app_db}"
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  ollama:
    <<: *default-opts
    container_name: ollama
    image: ollama/ollama:latest
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/data

networks:
  default:
    driver: bridge

volumes:
  pgdata:
  ollama_data: