x-default-opts: &default-opts
  restart: unless-stopped
  tty: true
  stdin_open: true
  privileged: false
  ipc: private

services:
  django:
    container_name: app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${PORT:-8000}:${PORT:-8000}"
    entrypoint: /bin/sh -c "cd ./src && uv run python manage.py makemigrations && uv run python manage.py migrate && uv run gunicorn --bind 0.0.0.0:8000 aivonx.asgi:application -w 4 -k uvicorn.workers.UvicornWorker"