name: tests

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - "**/*.py"
      - "pyproject.toml"
      - "docker-compose.yml"
      - ".github/workflows/tests.yml"
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Show Docker version
        run: |
          docker version
          docker compose version

      - name: Build & start services
        run: |
          docker compose up -d --build

      - name: Run Django tests in backend container
        run: |
          docker compose exec -T django \
            uv run python -X utf8 src/manage.py test proxy.tests --verbosity 1
